.MenuControlContainer {
    position: absolute;
    height: 100%;
}

.MenuControlExpandButton {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    color: darkblue;
    top: 10px;
    right: 10px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    line-height: 50px;
    z-index: 2;
    cursor: pointer;
}

.MenuControlExpandedMenu {
    position: absolute;
    width: 200px;
    background-color: slategray;
    height: 100%;
    max-height: 75vh;
    z-index: 1;
    top: 0px;
    right:0px;
    overflow-y: scroll;
}

.MenuControlTagListContainer {
    position: absolute;
    width: 100%;
    top: 100px;
    height: auto;
}

.MenuControlTagListItem {
    height: 25px;
    width: 80%;
    background-color: lightblue;
    color: blue;
    margin: auto;
}

.MenuControlTagListTable {
    width: 100%;
}

.MenuControlTagListTableLeftCell {
    text-align: left;
}

.MenuControlTagListTableRightCell {
    text-align: right;
}