#PhotoViewerContainer img {
    display: block;
    width: auto;
    height: auto;
    max-width: 75vw;
    max-height: 75vh;
    margin: auto;
}

#PhotoViewer {
    background-color: grey;
}

#PhotoViewerToolbar {
    height: 25px;
    width: 100%;
    background: -ms-linear-gradient(top, rgba(115,187,223,1) 0%,rgba(23,86,127,1) 100%);
    background: -webkit-linear-gradient(top, rgba(115,187,223,1) 0%,rgba(23,86,127,1) 100%);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
                inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
    cursor: pointer;
}

#PhotoViewerToolbar a {
    font-size: x-large;
    color: black;
    background-color: lightblue;
}

#PhotoViewerToolbar table {
    width: 100%;
}

#PhotoViewerPrevButton {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    text-align: center;
    font-size: xx-large;
    color: darkgrey;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 100px;
    cursor: pointer;
    font-weight: bolder;
}

#PhotoViewerNextButton {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    text-align: center;
    font-size: xx-large;
    color: darkgrey;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    line-height: 100px;
    cursor: pointer;
    font-weight: bolder;
}