.TagMenuControlContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.TagMenuControlExpandedMenuHeader {
    flex: 0 0 100px;
    width: 100%;
    background-color: slategray;
}

.TagMenuControlTagSelectors {
    flex: 0 0 auto;
    width: 100%;
    background-color: slategray;
}

.TagMenuControlTagListContainer {
    flex: 1 1 auto;
    width: 100%;
    overflow-y: auto;
}

.TagMenuControlTagListItem {
    height: 25px;
    width: 80%;
    color: blue;
    margin: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.TagMenuControlTagListItemEnabled {
    background-color: lightblue;
}

.TagMenuControlTagListItemDisabled {
    border-color: lightblue;
    border: thick;
}

.TagMenuControlTagListTable {
    width: 100%;
}

.TagMenuControlTagListTableLeftCell {
    text-align: left;
}

.TagMenuControlTagListTableRightCell {
    text-align: right;
}